@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Cinzel&family=Hubballi&display=swap');
html, body, h1, h2, h3, h4 {font-family: "Lato", sans-serif;}

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Hubballi', cursive;
}

.quote-header {
  overflow: hidden;
  color: rgb(226, 222, 222);
  background-color: #6a0e23;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  font-size: 1em;
  padding-bottom: 1px;
  top:0;
  width:100%;
}


iframe {
  box-sizing: border-box;
  border-radius: 20px;
  border: 3px solid black;
  box-shadow: 3px 3px 7px black;
}


.quote-header h3 {
  font-family: 'Barriecito', cursive;
}

.Main-Header {
  background-size: cover;
  background-color: #8a0e2d;
  margin: 0px;
  padding-bottom: 25px;
}

.topnav {
  position: sticky;
  top: 0px;
  background-color: #8a0e2d;
  display: flex;
  overflow: visible;
  z-index: 2;
  justify-content: space-evenly;
  text-align: center;
  box-shadow: 0px 3px 7px black;
  border-top: 1px solid rgba(255,255,255,.3);
  border-bottom: 1px solid rgba(255,255,255,.3);
}

.topnav a {
  color: #f2f2f2;
  /*
  text-align: center;
  width: 33.33%;
  padding: 15px 15px;
  text-decoration: none;
  font-size: 50px;
  */
  font-size: 30px;
  display: inline-block;
  padding: 20px 60px;
  text-align: center;
  text-decoration: none;
}

.problem a {
  color: #f2f2f2;
  float: left;
  display: block;
  border-radius: 10px;
  background-color: #8a0e2d;
  border: 2px solid black;
  box-shadow: 2px 2px 4px black;
  font-size: 2em;
  width: 15%;
  text-align: center;
  margin-right: 2%;
  text-decoration: none;
  padding: 20px;
}


.dropdown {
  display: inline-block;
  overflow: hidden;
  color: white;
  margin: 0;
  text-align: center;
  background-color: inherit;
  font-family: inherit;
  border: none;
  outline: none;
}

.dropdown-content {
  display: none;
  font-size: 25px;
  position: absolute;
  background-color: #f9f9f9;
  /*
  min-width: 232px;
  */
  
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  font-size: 25pxem;
  
  padding: 10px 10px;
  
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.problem a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #7a001e;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.logo {
  display: block;
  margin: auto;
}

#mainName h1 {
  text-align: center;
  margin: 0;
  font-size: 4em;
  font-weight: normal;
  font-family: 'Cinzel', serif;
  color: rgb(251, 251, 251);
}

.separator {
  display: inline-block;
  justify-content: space-around;
  background-color: #f1d282;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
  text-align: center;
  font-size: 2em;
}
.separator h2 {
  font-family: 'Hubballi', cursive;
  font-size: 2.5em;
  color: rgb(17, 3, 30);
}

.Club-Info h1 {
  color: black;
  font-size: 15px;
}

.Club-Info h2 {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #D3D3D3;
}

.Club-Info p {
  margin-left: 10%;
  margin-right: 10%;
  color: rgb(1, 1, 1);
}

.resourceline {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.Club-Info {
  background-color: rgb(255, 103, 103);
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  text-align: justify;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: space-around;
  background-size: cover;
  width: 100%;
  border-bottom: 6px groove #8a0e2d;
  border-top: 6px groove #8a0e2d;
}

.Club-Info resource {
  margin: 25px auto;
  padding: 10px;
  box-shadow: 5px 5px 10px black;
  display: inline-block;
  font-size: 15px;
  text-align: center;
  background-color: #f1d282;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
  border: 5px solid #8a0e2d;
}

.rcont {
  text-align: center;
  font-size: 15px;
  display: inline-block;
}

#Speech {
  text-align: center;
  font-size: 2em;
  
}

.relevant-info {  
  text-align: center;
  float: left;
  background-color: #f1d282;
  margin: 1%;
  font-size: 13px;
  border: 3px solid #8a0e2d;
  border-radius: 20px;
  box-shadow: 3px 3px 7px black;
  width: 28%;
}

.relevant-info p {
  font-size: 1.5em;
  margin-left: 5%;
  margin-right: 5%;
}

.relevant-info h2 {
  font-size: 1.5em;
  margin-left: 5%;
  margin-right: 5%;
}

.mySlides {
  position: relative;
  height: 550px;
  justify-content: space-around;
}

.mySlides img {
  display: block;
  height: 96%;
  margin: 0;
  border-radius: 50%;
  border: 4px solid gray;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.slideshow-container {
  position: relative;
  margin: 10%;
  border-radius: 75px;
  border: 8px double white;
  background-color: #012c61;
}

.slideshow-container-background {
  background-image:url('assets/space4k.jpg');
  background-size: cover;
  padding-bottom: 40px;
  background-repeat: no-repeat;
  overflow: hidden;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 10%;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 10%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #000000;
  font-size: 30px;
  display: inline-block;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  border-radius: 25px;
  width: 90%;
  margin-left: 4%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.634);
  
}

/* Number text (1/3 etc) */
.numbertext {
  color: #fcfcfc;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.Problems-Info {
  
  background-color: #012c61;
  color: white;
  overflow: hidden;
  
  position: relative;
  flex-wrap: wrap;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  
 
  justify-content: space-around;
  background-size: cover;
  width: 100%;
  height: 100%;
  
  border-bottom: 6px groove #8a0e2d;
  border-top: 6px groove #8a0e2d;
  
}

.Problems-Info p {
  font-size: 2em;
  margin: 1%;
}

.problem {
  margin: 5%;
  border-bottom: 5px groove #8a0e2d;
}

.problem p {
  padding-left: 2%;
  font-size: 1em;
  align: justify;
  display: flex;
  justify-content: space-around;
}

.problems-container {
  background-color: rgb(255, 96, 96);
  height: 100%;
  background-size: cover;
  padding-bottom: 40px;
  background-repeat: no-repeat;
  overflow: hidden; 
}

.problems-separator {
  display: inline-block;
  justify-content: space-around;
  background-color: #530a0a;
  padding-bottom: 25px;
  width: 100%;
  text-align: center;
}

.problems-separator img {
  border-radius: 25px;
  border: 3px solid gray;
  box-shadow: 3px 3px 7px gray;
}

.notes-container {
  background-color: #dadada;
  height: 100%;
  background-size: cover;
  padding-bottom: 40px;
  background-repeat: no-repeat;
  overflow: hidden; 
}

.note-separator {
  display: inline-block;
  background-color: #dddada;
  justify-content: space-around;
  
  margin-left: 40%;
  margin-right: 40%;
  padding-bottom: 25px;
  text-align: center;
}

.note-separator h2 {
  margin: 10%;
  text-align: center;
  font-size: 2em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
